.DS_Store
node_modules/
*.zip

# Amplify local/deployment state
amplify/#current-cloud-backend/
amplify/.config/local-*
amplify/logs/
amplify/mock-data/
amplify/mock-api-resources/
amplify/backend/amplify-meta.json
amplify/backend/.temp/
amplify-build-config.json
aws-exports.js
src/amplifyconfiguration.json
.secret-*
